body {
    background-color: black;
}
#background {
    margin-left: 350px;
    background: url(images/bg.gif);
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0px;
    top: 0px;
}
#hero {
    background: url(images/hero.png);
    width: 35px;
    height: 35px;
    position: absolute;
}
#laser {
    background: url(images/laser.png);
    width: 2px;
    height: 50px;
    position: absolute;
}
#score {
    color: #ffffff;
    font-size: 30pt;
    position: absolute;
    left: 60px;
    top: 130px;
}
#level {
    color: #ffffff;
    font-size: 30pt;
    position: absolute;
    left: 60px;
	top: 165px;
}
.enemy {
	background: url(images/enemy.png);
	width: 35px;
	height: 35px;
	position: absolute;
}
#gameover {
	color: red;
	font-size: 20px;
	position: absolute;
	left: 500px;
	top: 200px;
	visibility: hidden;
}
#mechanics {
	color: white;
	font-size: 20px;
	position: absolute;
	left: 900px;
	top: 100px;
}
#name {
	color: yellow;
	position: absolute;
	left: 470px;
	top: 500px;
}